#page-account .form {
  margin-bottom: 0;
}
.form#accounts {
  padding: 20px 40px;
  width: 340px;
  text-align: center;
}
#accounts span {
  display: inline-block;
  margin: 0 10px 10px 0;
}
#accounts .remove {
  position: relative;
  top: -1px;
  padding: 4px 5px 6px;
}
#accounts .inactive .remove {
  display: none;
}
#avatar {
  padding-top: 0;
}
#avatar img {
  margin-right: 8px;
  vertical-align: middle;
}