#page-blog main ul {
  list-style: disc;
  margin: 1em 0;
  padding-left: 2em;
  font-size: 14px;
  line-height: 1.5em;
}
#page-blog main ul li {
  margin: .5em 0;
}
p.images {
  margin: -5px;
}
p.images img {
  display: inline-block;
  vertical-align: top;
  margin: 5px;
  padding: 4px;
  border: 1px solid #ddd;
  max-width: 90%;
}