body {
  margin: 0;
  font: 13px arial, sans-serif;
  -webkit-text-size-adjust: none;
}
h1, h2, h3 {
  font: 500 28px "Segoe UI", ArialMT, sans-serif;
  margin: .7em 0;
}
h1 {
  color: #999;
  font-weight: normal;
}
h2 {
  font-size: 20px;
}
h3 {
  font-size: 17px;
}
p {
  font-size: 14px;
  line-height: 1.5em;
}
a {
  text-decoration: none;
  color: #33c;
}
a:hover {
  text-decoration: underline;
}
a.block {
  display: block;
  color: black;
}
a.block:hover, header a:hover {
  text-decoration: none;
}
a.block:hover h2 {
  text-decoration: underline;
}
svg {
  width: 15px;
  height: 15px;
  margin-right: 8px;
  vertical-align: bottom;
  fill: currentColor;
}
ul, ol {
  margin: 0;
  padding: 0;
  list-style: none;
}
button, input, textarea, select {
  border-radius: 0;
  border: none;
  padding: 3px;
  margin-top: -3px;
}
select {
  padding: 2px 0;
}
textarea {
  vertical-align: bottom;
}
button, input[type=submit], a.button {
  font: 13px/15px arial, sans-serif;
  padding: 5px 8px;
  color: #666;
  background: #f7f7f7;
  cursor: pointer;
  -webkit-appearance: none;
}
form button, input[type=submit] {
  background: #666;
  color: white;
}
button[type=submit], input[type=submit] {
  padding: 5px 10px;
  margin-top: 10px;
}
button[disabled], input[disabled] {
  cursor: auto;
}
#icons {
  display: none;
}
.success, .error {
  color: white;
  padding: 5px 8px;
  margin-bottom: 10px;
  text-align: left;
}
.success a, .error a, #welcome a {
  color: white;
  text-decoration: underline;
}
a.button {
  display: inline-block;
  text-align: center;
  text-decoration: none;
}
button.icon svg, a.button.icon svg {
  margin-right: 0;
}
button:hover, a.button:hover {
  color: white;
  background: #666;
}
a.button.red:hover, button.red:hover, .error {
  color: white;
  background: #c33;
}
a.button.green:hover, button.green:hover, .success {
  color: white;
  background: #3c3;
}
a.button.blue:hover, button.blue:hover {
  color: white;
  background: #33c;
}
a.button.large {
  display: block;
  font-size: 15px;
  line-height: 22px;
  padding: 10px 0 10px 75px;
  margin-bottom: 10px;
  text-align: left;
}
a.button.large svg {
  margin: 4px 15px 0 -55px;
  width: 40px;
  height: 40px;
  float: left;
}
header, footer, main, .column {
  display: block;
  max-width: 900px;
  margin: 0 auto;
  padding: 0 10px;
}
header {
  margin-bottom: 20px;
  padding: 20px 10px 10px;
}
header ul {
  margin-left: 22px;
  display: inline-block;
  vertical-align: top;
}
header li {
  display: inline-block;
}
header li a {
  display: block;
  padding: 10px 15px;
  font-size: 15px;
  color: #999;
  text-decoration: none;
}
header li a:hover {
  color: black;
}
footer {
  padding: 20px 10px;
  margin-top: 60px;
  border-top: solid 1px #eee;
  color: #999;
  clear: both;
}
footer div {
  float: right;
}
footer:after {
  content: "";
  display: block;
  clear: both;
}
.logo {
  display: inline-block;
  vertical-align: top;
  height: 32px;
  padding-left: 37px;
  background: url(/img/icon.png) left/32px no-repeat;
  image-rendering: pixelated;
  font: 500 24px/32px "Segoe UI", ArialMT, sans-serif;
  color: black;
}
.account {
  float: right;
  text-align: right;
  margin: 5px 0 2px 0;
}
.account .button {
  margin-left: 5px;
}
#user {
  position: relative;
  color: black;
  padding: 5px 2px 5px 37px;
  background-color: transparent;
  background-position: -1px center;
  background-repeat: no-repeat;
}
#user svg {
  visibility: hidden;
  position: relative;
  margin: 0 14px 0 -29px;
  fill: white;
}
#user:hover svg {
  visibility: visible;
}
#user:hover:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 31px;
  height: 100%;
  background: #33c;
}
#github {
  background: black;
}
#facebook, a.facebook:hover {
  background: #3b5998;
}
#twitter, a.twitter:hover {
  background: #55acee;
}
#google, a.google:hover {
  background: #d73d32;
}
form {
  display: inline-block;
  vertical-align: top;
  text-align: left;
  background: #f7f7f7;
  margin: 0 0 20px 0;
  padding: 20px 50px 20px 120px;
}
label, form div {
  display: block;
  margin-bottom: 5px;
  padding-top: 3px;
}
label label {
  display: inline;
  margin: 0;
  padding: 0;
}
label span, form div label {
  float: left;
  text-align: right;
  margin-left: -100px;
  padding: 0;
  width: 90px;
}
form p {
  margin: 0 -30px 0 -100px;
}
form .error {
  margin: -20px -50px 20px -120px;
  display: none;
}
aside {
  width: 170px;
  float: left;
  margin-left: -200px;
}
pre {
  margin: 8px 0;
  padding: 4px 7px;
  background: #f7f7f7;
  border: solid 1px #ddd;
  overflow: auto;
}
pre em, code {
  padding: 1px 2px;
  border: solid 1px #ddd;
  background: #f7f7f7;
}
code {
  font-size: 13px;
}
pre em {
  margin: 0 2px;
}
.byline {
  margin: -.7em 0 1em;
  font-size: 12px;
  color: #666;
}
a.user {
  padding-left: 20px;
  margin-left: 3px;
  background-position: left;
  background-size: 16px;
  background-repeat: no-repeat;
  image-rendering: pixelated;
}
form.menu {
  display: block;
  background: transparent;
  margin: 0;
  padding: 0;
}
.menu button, .menu a.button {
  color: #666;
  background: #f7f7f7;
  margin: 0 5px 5px 0;
}
.notice {
  padding: 5px 10px;
  border: solid 1px #ddd;
}
@media only screen and (max-width: 600px) {
  aside {
    float: none;
    width: auto;
    margin: 0 0 10px 0;
    white-space: nowrap;
    overflow: auto;
  }
  a.button.large {
    display: inline-block;
    padding-right: 10px;
    margin: 0 10px 0 0;
  }
}