html {
  height: 100%;
  background: white;
}
body {
  margin: 0;
  font: 13px arial, sans-serif;
  -webkit-text-size-adjust: none;
}
h1, h2, h3 {
  font: 500 28px "Segoe UI", ArialMT, sans-serif;
  margin: .7em 0;
}
h1 {
  color: #999;
  font-weight: normal;
}
h2 {
  font-size: 20px;
}
h3 {
  font-size: 17px;
}
p {
  font-size: 14px;
  line-height: 1.5em;
}
a {
  text-decoration: none;
  color: #33c;
}
a:hover {
  text-decoration: underline;
}
a.block {
  display: block;
  color: black;
}
a.block:hover, header a:hover {
  text-decoration: none;
}
a.block:hover h2 {
  text-decoration: underline;
}
h2 a, h3 a {
  color: black;
}
svg {
  width: 15px;
  height: 15px;
  margin-right: 8px;
  vertical-align: bottom;
  fill: currentColor;
}
ul, ol {
  margin: 0;
  padding: 0;
  list-style: none;
}
button, input, textarea {
  border-radius: 0;
  border: none;
  padding: 3px;
  font: inherit;
  outline: none;
}
input, textarea {
  border: solid 1px #ddd;
}
input[type=file] {
  border: none;
}
textarea {
  vertical-align: bottom;
}
select {
  background: white;
  border-radius: 0;
  border: solid 1px #ddd;
  padding: 2px 0;
  font: inherit;
  outline: none;
}
input:focus, textarea:focus, select:focus {
  border-color: #aaa;
}
button, a.button {
  font: 13px/15px arial, sans-serif;
  padding: 5px 8px;
  color: #666;
  background: #f7f7f7;
  cursor: pointer;
  -webkit-appearance: none;
}
button[disabled], input[disabled] {
  cursor: auto;
}
#icons {
  display: none;
}
.success, .error {
  color: white;
  padding: 5px 8px;
  margin-bottom: 10px;
  text-align: left;
}
.success a, .error a, #welcome a {
  color: white;
  text-decoration: underline;
}
a.button {
  display: inline-block;
  text-align: center;
  text-decoration: none;
}
button.icon svg, a.button.icon svg {
  margin-right: 0;
}
button:hover, a.button:hover {
  color: white;
  background: #666;
}
a.button.red:hover, button.red:hover, .error {
  color: white;
  background: #c33;
}
a.button.green:hover, button.green:hover, .success {
  color: white;
  background: #3c3;
}
a.button.blue:hover, button.blue:hover {
  color: white;
  background: #33c;
}
a.button.large {
  display: block;
  font-size: 15px;
  line-height: 22px;
  padding: 10px 0 10px 75px;
  margin-bottom: 10px;
  text-align: left;
}
a.button.large svg {
  margin: 4px 15px 0 -55px;
  width: 40px;
  height: 40px;
  float: left;
}
header, footer, main, .column {
  display: block;
  max-width: 900px;
  margin: 0 auto;
  padding: 0 10px;
}
header {
  margin-bottom: 20px;
  padding: 20px 10px 10px;
}
.logo {
  display: inline-block;
  vertical-align: top;
  height: 32px;
  padding-left: 37px;
  background: url(/img/icon.png) left/32px no-repeat;
  image-rendering: pixelated;
  font: 500 24px/32px "Segoe UI", ArialMT, sans-serif;
  color: black;
}
#nav-toggle, #account-toggle {
  display: none;
}
header nav {
  margin-left: 22px;
  display: inline-block;
  vertical-align: top;
}
header nav a {
  display: inline-block;
  padding: 10px 15px;
  font-size: 15px;
  color: #999;
  text-decoration: none;
}
header nav a:hover {
  color: black;
}
.account {
  float: right;
  position: relative;
}
.account .button {
  margin: 5px 0 0 5px;
}
.account ul {
  display: none;
  position: absolute;
  top: 35px;
  right: 0;
  width: 150px;
  background: #333;
  z-index: 1;
}
.account ul a {
  display: block;
  color: #ddd;
  padding: 10px 15px;
}
.account ul a:hover {
  color: white;
}
.account label {
  display: block;
  cursor: pointer;
}
.account label img {
  vertical-align: middle;
}
.account label:after {
  content: "";
  display: inline-block;
  vertical-align: middle;
  border: solid transparent;
  border-width: 6px 4px 0;
  border-top-color: #999;
  margin: 0 5px;
}
.account label:hover {
  background: #f7f7f7;
}
.account label:hover:after {
  border-top-color: #666;
}
#account-toggle:checked + label + ul {
  display: block;
}
footer {
  padding: 20px 10px;
  margin-top: 60px;
  border-top: solid 1px #eee;
  color: #999;
  clear: both;
}
footer div {
  float: right;
}
footer div a {
  margin-left: 10px;
}
footer:after {
  content: "";
  display: block;
  clear: both;
}
#github, .github a:hover {
  background: black;
  color: white;
}
#facebook, a.facebook:hover, .facebook a:hover {
  background: #3b5998;
  color: white;
}
#twitter, a.twitter:hover, .twitter a:hover {
  background: #55acee;
  color: white;
}
#google, a.google:hover, .google a:hover {
  background: #d73d32;
  color: white;
}
.form {
  background: #f7f7f7;
  margin: 0 0 20px;
  max-width: 320px;
  padding: 20px 0 20px 140px;
}
.form label {
  display: block;
  margin-bottom: 5px;
}
.form label label {
  display: inline;
  margin: 0;
  padding: 0;
}
.form label span {
  float: left;
  text-align: right;
  margin-left: -140px;
  padding: 3px 0;
  width: 130px;
}
.form label .value {
  padding: 3px 0;
}
.form button {
  background: #666;
  color: white;
  padding: 5px 10px;
  margin: 10px 10px 0 0;
}
.form p {
  font-size: inherit;
  margin: 0 20px 0 -120px;
}
.form .error {
  margin: -20px 0 20px -140px;
  display: none;
}
#exp-month {
  margin-right: 5px;
  width: 2em;
}
pre {
  margin: 1em 0;
  padding: 4px 7px;
  background: #f7f7f7;
  border: solid 1px #ddd;
  overflow: auto;
}
pre em, code {
  padding: 1px 2px;
  border: solid 1px #ddd;
  background: #f7f7f7;
}
code {
  font-size: 13px;
}
pre em {
  margin: 0 2px;
}
.byline {
  margin: -.7em 0 1em;
  font-size: 12px;
  color: #666;
}
a.user {
  color: black;
  padding-left: 20px;
  margin-left: 3px;
  background-position: left;
  background-size: 16px;
  background-repeat: no-repeat;
  image-rendering: pixelated;
}
a.user.large {
  display: block;
  padding-left: 42px;
  background-size: 32px;
  font-size: 14px;
  line-height: 32px;
}
.menu button, .menu a.button {
  color: #666;
  background: #f7f7f7;
  margin: 0 5px 5px 0;
}
.notice {
  padding: 5px 10px;
  border: solid 1px #ddd;
}
.imgupload .preview {
  margin-bottom: 5px;
}
@media all and (max-width: 800px) {
  #nav-toggle + label {
    display: inline-block;
    float: left;
    margin: 0 5px 0 -7px;
    padding: 7px;
    width: 24px;
    cursor: pointer;
  }
  #nav-toggle + label:before,
  #nav-toggle + label:after {
    content: "";
    display: block;
    height: 5px;
    border: solid 0 #999;
    border-width: 3px 0;
  }
  #nav-toggle + label:after {
    border-width: 0 0 3px;
  }
  #nav-toggle:checked + label:before {
    transform: translate(-3px, 0) rotate(-45deg);
    transform-origin: top right;
    border-bottom: none;
  }
  #nav-toggle:checked + label:after {
    transform: translate(-3px, 3px) rotate(45deg);
    transform-origin: bottom right;
  }
  #nav-toggle:checked + label + nav {
    display: block;
  }
  header nav {
    display: none;
    clear: both;
    margin: 10px -10px;
    background: #f7f7f7;
  }
  header nav a {
    display: block;
    padding-left: 84px;
    color: #666;
  }
}
@media all and (max-width: 360px) {
  .form {
    padding: 20px 0 20px 20px;
  }
  .form label span {
    float: none;
    width: auto;
    display: block;
    text-align: left;
    margin-left: 0;
  }
  .form p {
    margin: 0 20px 0 0;
  }
  .form .error {
    margin: -20px 0 20px -20px;
  }
}
