#page-login p {
  text-align: center;
}
#page-login p .button {
  margin: 2px 5px;
  padding: 7px 10px;
}
#page-login em {
  font: italic 16px georgia, serif;
}
#page-login .form {
  max-width: 240px;
  margin: 0 auto 20px;
}