#page-login main {
  text-align: center;
}
#page-login p .button {
  margin: 2px 5px;
  padding: 7px 10px;
  color: white;
}
#page-login em {
  font: italic 16px georgia, serif;
}
#page-login form {
  margin: 0 20px 20px;
}
@media only screen and (max-width: 600px) {
  #page-login main {
    overflow: hidden;
  }
  #page-login form {
    margin: 0 -10px 20px;
  }
}