pre.prettyprint {
  background: white;
}

pre .str { color: #a11; }
pre .kwd { color: #708; }
pre .com { color: #a50; font-style: italic; }
pre .typ { color: #606; }
pre .lit { color: #00f; }
pre .tag { color: #008; }
pre .atn { color: #606; }
pre .atv { color: #080; }
pre .dec, pre .var { color: #f50; }

@media print {
  pre .str { color: #060; }
  pre .kwd { color: #006; font-weight: bold; }
  pre .com { color: #600; font-style: italic; }
  pre .typ { color: #404; font-weight: bold; }
  pre .lit { color: #044; }
  pre .pun { color: #440; }
  pre .pln { color: #000; }
  pre .tag { color: #006; font-weight: bold; }
  pre .atn { color: #404; }
  pre .atv { color: #060; }
}