pre .str { color: #c00; }
pre .kwd { color: #cc0; }
pre .com { color: #ccc; font-style: italic; }
pre .typ { color: #0cc; }
pre .lit { color: #c00; }
pre .pun { color: #0cc; }
pre .pln { color: white; }
pre .tag { color: #0cc; }
pre .atn { color: #0c0; }
pre .atv { color: #0cc; }
pre .dec { color: #00c; }

pre.prettyprint {
	background: black;
  border: none;
  padding: 5px 8px;
}

@media print {
  pre .str { color: #060; }
  pre .kwd { color: #006; font-weight: bold; }
  pre .com { color: #600; font-style: italic; }
  pre .typ { color: #404; font-weight: bold; }
  pre .lit { color: #044; }
  pre .pun { color: #440; }
  pre .pln { color: #000; }
  pre .tag { color: #006; font-weight: bold; }
  pre .atn { color: #404; }
  pre .atv { color: #060; }
}