#page-register .form {
  float: left;
  width: 300px;
  margin-right: 40px;
}
#page-register .form.free .payment,
#page-register .form.free .disclosure span {
  display: none;
}
#page-register aside {
  float: left;
  width: 100%;
  max-width: 400px;
}
#page-register aside div {
  background-size: 120%;
  background-position: 10px 10px;
  background-repeat: no-repeat;
  border: solid 1px #ddd;
  height: 130px;
}
#page-register aside #profile {
  background-image: url(/img/profile.png);
}
#page-register aside #gallery {
  background-image: url(/img/gallery.png);
}
#page-register aside #servers {
  background-image: url(/img/servers.png);
  background-position: -30px 10px;
}
#page-register aside p {
  font: 500 17px "Segoe UI", ArialMT, sans-serif;
  margin: 5px 0 30px;
}
.compare {
  padding: 3px 0;
  margin-left: 20px;
}
#price {
  font-size: 16px;
  margin: 20px 0 10px;
}
.disclosure {
  font-size: 12px;
  line-height: 1.3;
  color: #666;
  padding: 10px 15px 10px 0;
}
@media all and (max-width: 800px) {
  #page-register .form {
    margin-right: 0;
  }
}