.compare {
  float: right;
  padding: 3px 0;
}
#price {
  font-size: 16px;
  margin: 10px 0;
  text-align: center;
}
.disclosure {
  font-size: 11px;
  line-height: 14px;
  color: #666;
  width: 314px;
  padding: 0 15px;
  margin: 15px -50px 10px -120px;
}