@font-face {
  font-family: entypo;
  src: url(/entypo.woff);
  font-weight: normal;
  font-style: normal;
}
body {
  margin: 0;
  font: 13px sans-serif;
}
html, body, .CodeMirror {
  height: 100%;
}
.CodeMirror-scroll {
  overflow-x: auto;
  overflow-y: hidden;
}
.CodeMirror-gutters {
  border-right: none;
}
pre {
  margin: 0;
}
nav {
  position: fixed;
  width: 249px;
  height: 100%;
  padding-right: 1px;
  overflow-y: auto;
  overflow-x: hidden;
}
h2 {
  margin: 0 0 1px 0;
  padding: 2px 0 2px 10px;
  font-size: 11px;
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: .1em;
  background: #333;
  color: #ccc;
}
.form {
  position: relative;
  margin-bottom: 1px;
}
.form button {
  background: #3c3;
  color: white;
  position: absolute;
  top: 0;
  right: 0;
}
.form button:before {
  content: "➕";
}
input {
  box-sizing: border-box;
  width: 100%;
  height: 25px;
  padding: 0 30px 0 10px;
  border: none;
  outline: none;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
nav li {
  height: 25px;
  margin-bottom: 1px;
}
nav li span {
  display: block;
  padding: 5px 0 0 10px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.controls {
  float: right;
}
button {
  vertical-align: top;
  position: relative;
  text-align: left;
  padding: 0;
  height: 25px;
  width: 30px;
  margin: 0 0 1px 1px;
  border: none;
  color: #666;
  background: #f7f7f7;
  outline: none;
  overflow: hidden;
}
button:before {
  font: 26px entypo;
  position: absolute;
  left: 0;
  margin-top: -.75em;
  width: 100%;
  height: 100%;
  text-align: center;
}
button:hover,
.show-config .selected .config,
.show-log .selected .log,
.show-docs .selected .docs {
  color: white;
}
.run:hover {
  background: #3c3;
}
.delete:hover, .stop:hover {
  background: #c33;
}
.config:hover, .show-config .selected .config,
.log:hover, .show-log .selected .log,
.docs:hover, .show-docs .selected .docs {
  background: #36c;
}
.toggle:hover, .collapsed .toggle:hover {
  background: #666;
}
.run:before {
  content: "▶";
}
.config:before {
  content: "⚙";
}
.delete:before {
  content: "";
}
.log:before {
  content: "☰";
}
.stop:before {
  content: "■";
}
.docs:before {
  content: "ℹ";
}
.toggle:before {
  content: "◂";
}
.collapsed .toggle:before {
  content: "▸";
}
.config, .stop, .log, .running .run, .selected.running .config, .running .delete {
  display: none;
}
.selected .config, .running .stop, .running .log {
  display: inline;
}
.selected {
  background: #f7f7f7;
  position: relative;
}
.selected:after {
  content: "";
  position: absolute;
  top: 0;
  right: -1px;
  background: #f7f7f7;
  width: 13px;
  height: 13px;
  transform: translate(6px, 6px) rotate(45deg) skew(22.5deg, 22.5deg);
  box-shadow: 0 0 3px rgba(0, 0, 0, .3);
}
.show-config .selected:after, .show-log .selected:after {
  background: white;
}
.selected button {
  background: #e0e0e0;
}
.toggle {
  position: absolute;
  width: 15px;
  bottom: 50px;
  right: 0px;
  border: solid white;
  border-width: 1px 0 1px 1px;
}
.collapsed .toggle {
  background: white;
}
.collapsed h2, .collapsed .form, .collapsed nav li, .collapsed .selected:after {
  display: none;
}
.collapsed nav {
  width: 30px;
  padding-right: 0;
  background: #f7f7f7;
  overflow-y: hidden;
}
.collapsed nav li span {
  float: left;
  padding: 8px 10px 0 0;
  width: 200px;
  text-align: right;
  transform: rotate(-90deg) translate(0, -210px);
  transform-origin: right top 0;
}
.collapsed .selected {
  display: block;
  padding: 0;
  white-space: normal;
}
.collapsed #main {
  margin-left: 31px;
}
#main {
  margin-left: 250px;
  height: 100%;
}
#config, #log {
  padding: 4px 8px;
}
#config, #log, .show-config .CodeMirror, .show-log .CodeMirror {
  display: none;
}
.show-config #config, .show-log #log {
  display: block;
}
