@font-face {
  font-family: entypo;
  src: url(/entypo.woff);
  font-weight: normal;
  font-style: normal;
}
@keyframes yellow-fade {
  5% { background-color: #ff6; }
}
@-webkit-keyframes yellow-fade {
  5% { background-color: #ff6; }
}
body {
  margin: 0;
  font: 13px sans-serif;
}
html, body, .CodeMirror {
  height: 100%;
}
pre {
  margin: 0;
}
nav {
  position: fixed;
  width: 249px;
  height: 100%;
  padding-right: 1px;
  background: white;
  overflow-y: auto;
  overflow-x: hidden;
}
h1 {
  margin: 0 0 .5em 0;
}
h2 {
  margin: 0 0 1px 0;
  padding: 2px 0 2px 10px;
  font-size: 11px;
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: .1em;
  background: #333;
  color: #ccc;
}
.form {
  position: relative;
  margin-bottom: 1px;
}
.form button {
  background: #3c3;
  color: white;
  position: absolute;
  top: 0;
  right: 0;
}
.form button:before {
  content: "➕";
}
input {
  box-sizing: border-box;
  width: 100%;
  height: 25px;
  padding: 0 30px 0 10px;
  border: none;
  outline: none;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
nav li {
  height: 25px;
  margin-bottom: 1px;
  cursor: default;
}
nav li span {
  display: block;
  padding: 5px 0 0 10px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.controls {
  float: right;
}
button {
  vertical-align: top;
  position: relative;
  text-align: left;
  padding: 0;
  height: 25px;
  width: 30px;
  margin: 0 0 1px 1px;
  border: none;
  color: #666;
  background: #f7f7f7;
  outline: none;
  overflow: hidden;
}
button:before {
  font: 26px entypo;
  position: absolute;
  left: 0;
  margin-top: -.75em;
  width: 100%;
  height: 100%;
  text-align: center;
}
button:hover {
  color: white;
}
button:active {
  opacity: .7;
}
.run:hover, .restart:hover, #status.success {
  background: #3c3;
}
.delete:hover, .stop:hover, #status.failure {
  background: #c33;
}
.code:hover, .config:hover, .log:hover, .docs:hover, #status.info {
  background: #36c;
}
.toggle:hover, .show-code .toggle:hover {
  background: #666;
}
.code:before {
  content: "";
}
.config:before {
  content: "⚙";
}
.log:before {
  content: "☰";
}
.docs:before {
  content: "ℹ";
}
.run:before {
  content: "▶";
}
.restart:before {
  content: "⟳";
}
.stop:before {
  content: "■";
}
.delete:before {
  content: "";
}
.toggle:before {
  content: "◂";
}
.collapsed .toggle:before {
  content: "▸";
}
.view, .restart, .stop, .running .run, .running .delete, .collapsed .delete {
  display: none;
}
.selected .view, .running .restart, .running .stop, .running .log {
  display: inline;
}
.selected {
  background: #f7f7f7;
  position: relative;
}
.selected:after {
  content: "";
  position: absolute;
  top: 0;
  right: -1px;
  background: white;
  width: 13px;
  height: 13px;
  transform: translate(6px, 6px) rotate(45deg) skew(22.5deg, 22.5deg);
  -webkit-transform: translate(6px, 6px) rotate(45deg) skew(22.5deg, 22.5deg);
  box-shadow: 0 0 3px rgba(0, 0, 0, .3);
}
.show-code .selected:after, .show-code .toggle {
  background: #f7f7f7;
}
.selected button {
  background: #e0e0e0;
}
.toggle {
  position: absolute;
  width: 15px;
  bottom: 50px;
  right: 0px;
  background: white;
  box-shadow: 0 0 3px rgba(0, 0, 0, .3);
}
.collapsed h2, .collapsed .form, .collapsed nav li, .collapsed .selected:after {
  display: none;
}
.collapsed nav {
  width: 30px;
  overflow-y: hidden;
}
.collapsed nav li span {
  float: left;
  padding: 8px 10px 0 0;
  width: 200px;
  text-align: right;
  transform: rotate(-90deg) translate(0, -210px);
  -webkit-transform: rotate(-90deg) translate(0, -210px);
  transform-origin: right top 0;
  -webkit-transform-origin: right top 0;
}
.collapsed .selected {
  display: block;
  position: absolute;
  left: 0;
  right: 1px;
  height: 100%;
  white-space: normal;
}
.collapsed #main {
  margin-left: 31px;
}
#main {
  margin-left: 250px;
  height: 100%;
  background: url(/simpl.png) no-repeat center center;
}
#status {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 6;
  display: none;
  color: white;
  padding: 3px 8px;
}
.CodeMirror-gutters {
  border-right: none;
}
.CodeMirror .current {
  animation: yellow-fade 2s;
  -webkit-animation: yellow-fade 2s;
}
.show-config #main, .show-log #main, .show-docs #main {
  background: transparent;
}
#config, #log, #docs {
  padding: 4px 8px;
}
#log .entry {
  border-bottom: solid 1px #ececec;
  padding: 1px 0;
}
#log .entry:after {
  content: "";
  display: block;
  clear: both;
}
#log .message {
  float: left;
}
#log .location {
  float: right;
  color: #999;
  cursor: pointer;
}
#log .error, #log .warn, #docs .error {
  color: red;
}
#docs pre {
  overflow: auto;
  margin: 1em 0;
  background: #f7f7f7;
  padding: 5px 10px;
}
#docs .spec {
  background: transparent;
  padding: 4px 9px;
  border: solid 1px #e0e0e0;
}
.CodeMirror, #config, #log, #docs {
  display: none;
}
.show-code .CodeMirror, .show-config #config, .show-log #log, .show-docs #docs {
  display: block;
}
