@font-face {
  font-family: entypo;
  src: url(/entypo.woff);
  font-weight: normal;
  font-style: normal;
}
@keyframes yellow-fade {
  5% { background-color: #ff6; }
}
@-webkit-keyframes yellow-fade {
  5% { background-color: #ff6; }
}
body {
  margin: 0;
  font: 13px sans-serif;
}
html, body, #code, .CodeMirror {
  height: 100%;
}
pre {
  margin: 0;
}
nav {
  position: fixed;
  width: 249px;
  height: 100%;
  padding-right: 1px;
  background: white;
  overflow-y: auto;
  overflow-x: hidden;
}
h1 {
  font-family: "Segoe UI";
  margin: 0 0 .5em 0;
}
h2 {
  margin: 0 0 1px 0;
  padding: 2px 0 2px 10px;
  font-size: 11px;
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 1px;
  background: #333;
  color: #ddd;
}
.form {
  position: relative;
  margin-bottom: 1px;
}
.form button {
  background: #3c3;
  color: white;
  position: absolute;
  top: 0;
  right: 0;
}
.form button:before {
  content: "➕";
}
input {
  box-sizing: border-box;
  width: 100%;
  height: 25px;
  padding: 0 30px 0 10px;
  border: none;
  outline: none;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
nav li {
  height: 25px;
  margin-bottom: 1px;
  cursor: default;
}
nav .name {
  display: block;
  position: relative;
  height: 20px;
  padding: 5px 0 0 10px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
nav .name span {
  font-size: 90%;
  color: #999;
  margin-left: 5px;
}
nav .name:after {
  font: 26px entypo;
  color: #666;
  position: absolute;
  top: 0;
  right: 5px;
  height: 100%;
  width: 20px;
  text-align: center;
  margin-top: -.28em;
}
nav .error .name:after {
  content: "⚠";
  color: #c33;
}
nav .loading .name:after {
  content: "⏳";
}
nav .changed .name:before {
  content: "*";
}
.controls {
  float: right;
}
button {
  background: #f7f7f7;
  text-align: left;
  padding: 0;
  border: none;
  outline: none;
  overflow: hidden;
  cursor: pointer;
}
nav button {
  height: 25px;
  width: 30px;
}
nav button, #actions button {
  position: relative;
  color: #666;
  vertical-align: top;
  margin: 0 0 1px 1px;
}
nav button:before, #actions button:before {
  font: 26px entypo;
  position: absolute;
  left: 0;
  margin-top: -.75em;
  width: 100%;
  height: 0;
  text-align: center;
}
nav button:hover, #actions button:hover {
  color: white;
}
button:active {
  opacity: .7;
}
.run:hover, .restart:hover, #status.success {
  background: #3c3;
}
nav .delete:hover, .stop:hover, #status.failure {
  background: #c33;
}
.code:hover, .settings:hover, .log:hover, .docs:hover, #status.info {
  background: #36c;
}
.publish:hover {
  background: #93c;
}
.toggle:hover, .show-code .toggle:hover {
  background: #666;
}
.publish:before {
  content: "";
}
.code:before {
  content: "";
}
.settings:before {
  content: "⚙";
}
.log:before {
  content: "☰";
}
.docs:before {
  content: "ℹ";
}
.run:before {
  content: "▶";
}
.restart:before {
  content: "⟳";
}
.stop:before {
  content: "■";
}
nav .delete:before {
  content: "";
}
.toggle:before {
  content: "◂";
}
.collapsed .toggle:before {
  content: "▸";
}
.view, .selected.loading .view, .restart, .stop, .running .run, .running .delete, .collapsed nav .delete {
  display: none;
}
.selected .view, .running .restart, .running .stop {
  display: inline;
}
nav .selected {
  background: #f7f7f7;
  position: relative;
}
nav .selected:after {
  content: "";
  position: absolute;
  top: 0;
  right: -1px;
  background: white;
  width: 13px;
  height: 13px;
  transform: translate(6px, 6px) rotate(45deg) skew(22.5deg, 22.5deg);
  -webkit-transform: translate(6px, 6px) rotate(45deg) skew(22.5deg, 22.5deg);
  box-shadow: 0 0 3px rgba(0, 0, 0, .3);
}
.show-code nav .selected:after, .show-code .toggle {
  background: #f7f7f7;
}
nav .selected button {
  background: #e0e0e0;
}
.toggle {
  position: absolute;
  width: 15px;
  bottom: 50px;
  right: 0px;
  background: white;
  box-shadow: 0 0 3px rgba(0, 0, 0, .3);
}
.collapsed nav h2, .collapsed .form, .collapsed nav li, .collapsed nav .selected:after {
  display: none;
}
.collapsed nav {
  width: 30px;
  overflow-y: hidden;
}
.collapsed nav li span {
  float: left;
  padding: 8px 10px 0 0;
  width: 200px;
  text-align: right;
  transform: rotate(-90deg) translate(0, -210px);
  -webkit-transform: rotate(-90deg) translate(0, -210px);
  transform-origin: right top 0;
  -webkit-transform-origin: right top 0;
}
.collapsed nav .selected {
  display: block;
  position: absolute;
  left: 0;
  right: 1px;
  height: 100%;
  white-space: normal;
}
.collapsed #main {
  margin-left: 31px;
}
#main {
  margin-left: 250px;
  height: 100%;
  background: url(/simpl.png) no-repeat center center;
}
#status {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 6;
  display: none;
  color: white;
  padding: 3px 8px;
}
.CodeMirror-gutters {
  border-right: none;
}
.CodeMirror .current {
  animation: yellow-fade 2s;
  -webkit-animation: yellow-fade 2s;
}
.show-settings #main, .show-log #main, .show-docs #main {
  background: transparent;
}
#log, #docs {
  padding: 4px 8px;
}
#log .entry {
  border-bottom: solid 1px #ececec;
  padding: 1px 0;
}
#log .entry:after {
  content: "";
  display: block;
  clear: both;
  height: 0;
}
#log .message {
  float: left;
}
#log .location {
  float: right;
  color: #999;
  cursor: pointer;
}
#log .error, #log .warn, #docs .error {
  color: red;
}
#code, #settings, .show-module #configuration, #log, #docs, #loading {
  display: none;
}
.show-code #code, .show-settings #settings, .show-log #log, .show-docs #docs, .show-loading #loading {
  display: block;
}
#settings section {
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
  width: 33.33%;
  min-height: 199px;
  border-left: 1px solid white;
  overflow: auto;
}
#settings #history {
  display: block;
  border-left: none;
  width: auto;
  min-height: 0;
}
#settings #actions {
  padding-top: 50px;
  text-align: center;
}
.show-module #settings section {
  width: 50%;
}
#actions button {
  padding: 5px 10px 5px 30px;
  margin-bottom: 3px;
}
#actions button:before {
  width: 30px;
  margin-top: -.5em;
}
.search {
  position: relative;
  margin-bottom: 5px;
}
.search input {
  padding: 0 10px 0 28px;
}
.search:before {
  content: "🔍";
  font: 26px entypo;
  color: #aaa;
  position: absolute;
  margin: -.26em 0 0 10px;
  height: 0;
  text-align: center;
}
#dependencies .module {
  padding: 0 0 5px 10px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
#dependencies .name span {
  font-size: 90%;
  color: #999;
  margin-left: 5px;
}
#dependencies .delete {
  margin-right: 5px;
  line-height: .8em;
  color: #808080;
  text-align: center;
  width: 1em;
  height: 1em;
}
#dependencies .delete:hover {
  color: white;
}
.suggest {
  position: absolute;
  left: 3px;
  right: 3px;
  box-shadow: 0 3px 3px #999;
}
.suggest button {
  background: white;
  display: block;
  box-sizing: border-box;
  width: 100%;
  padding: 3px 0 3px 25px;
}
.suggest button:hover {
  background: #def;
}
.suggest button:focus, .search input:focus + ul li:first-child button {
  color: white;
  background: #36c;
  outline: none;
}
.jsonv {
  padding: 4px 10px;
}
.timeline {
  white-space: nowrap;
  float: left;
}
.timeline li {
  padding: 10px 0 10px 12px;
  position: relative;
  cursor: pointer;
  color: #999;
}
.timeline li:before,
.timeline li:after {
  content: "";
  display: block;
  position: absolute;
  height: 50%;
  width: 12px;
  top: 0;
  left: 12px;
  background: #ddd;
  z-index: -1;
}
.timeline li:first-child:before,
.timeline li:last-child:after {
  content: none;
}
.timeline li:after {
  top: auto;
  bottom: 0;
}
.timeline li span {
  display: inline-block;
  vertical-align: middle;
  height: 6px;
  width: 6px;
  background: white;
  margin-right: 5px;
  border: 3px solid #ddd;
  border-radius: 6px;
}
.timeline li:hover,
.timeline li.selected {
  color: black;
}
.timeline li:hover span,
.timeline li.selected span {
  background: #333;
}
.timeline li.selected span,
.timeline li.inner span {
  border-color: #aaa;
}
.timeline li.first:after,
.timeline li.inner:after,
.timeline li.last:before,
.timeline li.inner:before {
  background: #aaa;
}
#history table {
  margin-left: 83px;
  font-family: monospace;
  line-height: 1.2em;
  white-space: pre-wrap;
  border-collapse: separate;
  border-spacing: 0;
}
#history td {
  vertical-align: top;
  padding: 0 4px;
}
#history td:first-child {
  color: #999;
  background: #f7f7f7;
  text-align: right;
  padding: 0 3px 0 5px;
  -webkit-user-select: none;
}
#history .delete {
  color: black;
  background: #fdd;
}
#history .insert {
  color: black;
  background: #dfd;
}
#history .delete span {
  background: #faa;
}
#history .insert span {
  background: #afa;
}
#docs pre {
  overflow: auto;
  margin: 1em 0;
  padding: 4px 10px 5px;
  background: #f7f7f7;
}
#docs .docjs-spec {
  background: transparent;
  border: solid 1px #e0e0e0;
}
.docjs-type-function,
.docjs-type-number,
.docjs-type-boolean,
.docjs-type-string {
  color: #008;
}
.docjs-named-value > .docjs-type:before,
.docjs-named-value > .docjs-types:before {
  content: ": ";
  color: black;
  color: initial;
}
.docjs-args > .docjs-value > .docjs-named-value:hover,
.docjs-args > .docjs-values > .docjs-value > .docjs-named-value:hover {
  cursor: pointer;
  display: inline-block;
  position: relative;
  margin: -2px 0 -3px;
  padding: 2px 3px 3px;
  background: white;
  box-shadow: 0 0 3px rgba(0, 0, 0, .6);
  border-radius: 3px;
}
.docjs-args > .docjs-value > .docjs-named-value:hover .docjs-args > .docjs-value > .docjs-named-value:hover,
.docjs-args > .docjs-values > .docjs-value > .docjs-named-value:hover .docjs-args > .docjs-value > .docjs-named-value:hover,
.docjs-args > .docjs-value > .docjs-named-value:hover .docjs-args > .docjs-values > .docjs-value > .docjs-named-value:hover,
.docjs-args > .docjs-values > .docjs-value > .docjs-named-value:hover .docjs-args > .docjs-values > .docjs-value > .docjs-named-value:hover {
  margin: 2px 0 1px;
}
.docjs-args > .docjs-value > .docjs-named-value > .docjs-name,
.docjs-args > .docjs-values > .docjs-value > .docjs-named-value > .docjs-name {
  border-bottom: dotted 1px #999;
}
.docjs-args > .docjs-value > .docjs-named-value:hover > .docjs-name,
.docjs-args > .docjs-values > .docjs-value > .docjs-named-value:hover > .docjs-name {
  border-bottom: none;
}
.docjs-args > .docjs-value > .docjs-named-value > .docjs-type,
.docjs-args > .docjs-value > .docjs-named-value > .docjs-types,
.docjs-args > .docjs-value > .docjs-named-value > .docjs-default,
.docjs-args > .docjs-values > .docjs-value > .docjs-named-value > .docjs-type,
.docjs-args > .docjs-values > .docjs-value > .docjs-named-value > .docjs-types,
.docjs-args > .docjs-values > .docjs-value > .docjs-named-value > .docjs-default {
  display: none;
}
.docjs-args > .docjs-value > .docjs-named-value:hover > .docjs-type,
.docjs-args > .docjs-value > .docjs-named-value:hover > .docjs-types,
.docjs-args > .docjs-value > .docjs-named-value:hover > .docjs-default,
.docjs-args > .docjs-values > .docjs-value > .docjs-named-value:hover > .docjs-type,
.docjs-args > .docjs-values > .docjs-value > .docjs-named-value:hover > .docjs-types,
.docjs-args > .docjs-values > .docjs-value > .docjs-named-value:hover > .docjs-default {
  display: inline;
}
.docjs-default {
  color: #066;
}
.docjs-default:before {
  content: "=";
  color: black;
  color: initial;
}
.docjs-function:before {
  content: "function";
}
.docjs-args, .docjs-returns {
  color: black;
  color: initial;
}
.docjs-args:before {
  content: "(";
}
.docjs-args:after {
  content: ")";
}
.docjs-returns:before {
  content: " → ";
}
.docjs-object:before {
  content: "{";
}
.docjs-object:after {
  content: "}";
}
.docjs-array:before {
  content: "[";
}
.docjs-array:after {
  content: "]";
}
.docjs-values > span:after {
  content: ", ";
}
.docjs-values > span:last-child:after {
  content: none;
}
.docjs-object .docjs-value {
  display: block;
  padding-left: 1.2em;
}
.docjs-args .docjs-value,
.docjs-array .docjs-value,
.docjs-object .docjs-object .docjs-value {
  display: inline;
  padding: 0;
}
.docjs-types > span:after {
  content: "|";
  color: black;
  color: initial;
}
.docjs-types > span:last-child:after {
  content: none;
}
