body {
  font-family: sans-serif;
  font-size: 13px;
  margin: 0 auto;
  padding: 0 10px;
  max-width: 800px;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.report, .show-report .record {
  display: none;
}
.show-report .report {
  display: block;
}
header {
  margin: 0 -10px 20px -10px;
  padding-bottom: 20px;
  background: #ececec;
  text-align: center;
}
nav {
  margin: 0 auto 20px auto;
}
nav span {
  display: inline-block;
  width: 100px;
  background: white;
  margin: 0 2px;
  padding: 3px 0;
  box-shadow: 0 0 5px rgba(0, 0, 0, .2);
  cursor: pointer;
}
.date {
  display: inline-block;
  vertical-align: middle;
  width: 50px;
  background: white;
  box-shadow: 0 0 5px rgba(0, 0, 0, .2);
  text-align: center;
  margin-right: 10px;
  padding-bottom: 5px;
}
.date div {
  background: #a00;
  color: white;
  font-size: 11px;
  padding: 2px 0;
  margin-bottom: 5px;
}
.date.weekend div {
  background: gray;
}
.issue {
  display: inline-block;
  position: relative;
  width: 50%;
  min-width: 200px;
}
.issue input {
  width: 100%;
  margin: 0;
  padding: 1px 4px;
}
.issue ul {
  display: none;
  position: absolute;
  left: 1px;
  right: 1px;
  text-align: left;
  background: white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, .2);
}
.issue li {
  padding: 2px 5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
}
.issue li:hover {
  background: #ebf2fc;
}
.hours {
  width: 5em;
  margin: 0 5px;
  padding: 1px 4px;
}
header .report ul {
  margin: 0 auto;
  width: 756px;
  text-align: left;
}
header .report li {
  display: inline-block;
}
.report .date {
  margin: 0 2px 4px 2px;
  opacity: .5;
  cursor: pointer;
}
.report .date:hover, .report .date.selected {
  opacity: 1;
}
.content li {
  margin-bottom: 10px;
  padding-left: 60px;
  clear: both;
}
.content li li {
  padding: 0;
  clear: none;
}
.content li.total {
  border-top: solid 1px #ececec;
  padding-top: 10px;
}
.content .date {
  float: left;
  margin: 0 0 10px -60px;
  cursor: pointer;
}
.time {
  float: left;
  width: 60px;
  text-align: right;
  font-size: 14px;
  font-weight: bold;
}
.name {
  padding-left: 70px;
}
.remove {
  background: #ececec;
  border: none;
  color: white;
  float: right;
  margin-left: 10px;
  padding: 2px 5px;
}
.remove:hover, .remove:focus {
  background: #a00;
}
.previous {
  display: block;
  clear: both;
  margin: 0 auto 20px auto;
  padding: 5px 20px;
  background: white;
  border: none;
  box-shadow: 0 0 5px rgba(0, 0, 0, .2);
}